@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

<ul>
@foreach (var post in @Model) {
    <li>
        <a href="@(@"/post/" + post.FriendlyUrlTitle)">
            @post.Title
        </a>
    </li>
}
</ul>